.header{
  font-weight: bold;
  background-color:#ff83c5;
  font-size:40px;
  padding:10px 140px;
  width:1200px;
  height:130px;
}

.header .title{
  position:absolute;
  font-size: 60px;
  top: -10px;
  left: 450px;
}

.time{
  background-color:white;
  font-size:50px;
  position:relative;
  padding:10px 20px;
  width: 1440px;
  height: 100px;
}

.time_2{
  background-color:white;
  font-size:50px;
  position:relative;
  padding:10px 20px;
  width: 1440px;
  height: 120px;
}

.ringo{
  position:relative;
  top:-60px;
  left:-12px;
  width:40px;
  height:40px;
}

.name{
  position:relative;
  background-color:#fbff7a;
  font-size:25px;
  top: -20px;
  width:1490px;
  height: 1800px;
}

.name p{
  padding:10px 0px 0px 40px;
  font-size: 60px;
}

.name img{
  position:relative;
  left:20px;
}

.back_button{
  position:absolute;
  top: 20px;
  left:10px;
  cursor :pointer;
}

.header .back{
  position:relative;
  top: 15px;
  left:-110px;
  font-size: 30px;
}

.next_button{
  position:absolute;
  top: 20px;
  left:1350px;
  cursor :pointer;
}

.header .next{
  position:relative;
  top: -60px;
  left: 90px;
  font-size: 30px;
}

.name .taionkei{
  position:absolute;
  top: 45px;
  left: 650px;
}

.radio {
  display: none;
}
 
.radio + .radio_image {
  background-color: white;
}

.radio:checked + .radio_image {
  background-color: #00ff00;
}

 .clear{
  clear: both;
}

 .kenkou{
  clear: both;
  position:relative;
  top:-100px;
}

 .kenkou_img{
  position:relative;
  top:-160px;
  left:-12px;
  width:40px;
  height:40px;
}

.taityou{
  float: left;
  position:relative;
  top:-40px;
  left: 500px;
}

.taityou p{
  position: absolute;
  top: 60px;
  left:15px;
 color: black;
}

.mikaku{
  float: left;
  position:relative;
  top:-100px;
  left: 700px;
}

.mikaku p{
  position: absolute;
  top: 60px;
  left:65px;
 color: black;
}

.header p{
  position:absolute;
  font-size:20px;
  top:5px;
  left:22px;
}

.text_img{
  position:relative;
  top: -150px;
}

.tyuu{
  position:absolute;
  font-size:1px;
  top:1200px;
  left: 400px;
}

textarea {
  position:absolute;
  font-size:65px;
  top:1390px;
  left:40px;
  width: 1300px;
  height: 450px;
  outline: 0;
  border: 0px;
  background: transparent;
}

.hidden_box label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}

.hidden_box label:hover {
    background: white;
}

.hidden_box input {
    display: none;
}

.hidden_box .hidden_show {
    position:absolute;
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
    position:absolute;
    top:200px;
    left:30px;
}

.hidden_box .open{
  background: white;
  font-size:40px;
  position:absolute;
  top:410px;
  left:1030px;
  padding:-30px;
  outline: 0;
  border: 0px;
  background: transparent;
}

.hidden_box .complete{
  background: white;
  font-size:80px;
  position:absolute;
  top:80px;
  left:1000px;
  padding:30px 80px;
}

.hidden_box .delete{
  background: white;
  font-size:80px;
  position:absolute;
  top:80px;
  left:60px;
  padding:40px 80px;
}

.number{
  font-size:80px;
  position:relative;
  top:-2100px;
  left:-300px;
}

button{
  position:relative;
  top:-990px;
  left:40px;
  padding:113px 220px;
  outline: 0;
  border: 0px;
  background: transparent;
}

.taion{
  font-size:30px;
  padding:30px 0px;
}

p{
  cursor :pointer;
}

a{
  text-decoration:none;
  color: black;
}

.menu_panel{
  color: #f20704;
  padding:  80px 28px;
  font-size: 30px;
}

.menu_panel .checker{
  color: #f20704;
  font-size: 100px;
  position: absolute;
  top: 120px;
  left: 350px;
}

.menu_panel .m_condition{
  font-size: 100px;
  position: absolute;
  top: 800px;
  left: 200px;
}

.menu_panel .e_condition{
  font-size: 100px;
  position: absolute;
  top: 1460px;
  left: 150px;
}

.menu_panel .meter{
  position: absolute;
  top: 40px;
}

.menu_panel .masuku{
  position: absolute;
  top: 200px;
  left: 1050px;
}

.menu_panel .huton{
  position: absolute;
  top: 730px;
  left: 40px;
}

.menu_panel .house{
  position: absolute;
  top: 1000px;
  left: 1150px;
}

.menu_panel .kyuukyuu{
  position: absolute;
  top: 1430px;
  left: 70px;
}

.menu_panel .byouin{
  position: absolute;
  top: 1680px;
  left: 1220px;
}

.condition_header{
  font-weight: bold;
  background-color:#ff83c5;
  font-size:40px;
  padding:10px 140px;
  width:680px;
  height:130px;
}

 .condition_title{
  position:absolute;
  font-size: 50px;
  top: -20px;
  left: 250px;
}

.condition_header .back{
  position:relative;
  top: 15px;
  left:-110px;
  font-size: 30px;
}

.username{
  position: absolute;
  top: 60px;
  left:400px;
}

.condition_name{
  background-color: #fff2cd;
}

.condition_name table{
  font-size: 50px;
  color: white;
}
